// CSS modules
.text-center {
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
// end CSS modules

// base style CSS 
$main-color: #E9C46A;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  margin: 0;
  background-color: #264653E3;
}
// end base style CSS

#container {
  width: 100%;
}

header {
  padding-top: 7rem;
  padding-bottom: 2rem;
  background-color: $main-color;
}

#what {
  font-family: Bernard MT Condensed;
  font-size: 5.6rem;
  color: #2A9D8F;
  text-shadow: 1px 5px #FF7777;
}

#who {
  padding-top: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
  font-size: 2.4rem;
  text-shadow: 0 2px #333;
}

#when {
  font-family: Bernard MT Condensed;
  text-align: right;
  font-size: 1.6rem;
  padding-right: 3rem;
  color: #2A9D8F;
}

nav {
  padding: 2rem 0;
  li {
    font-size: 1.6rem;
    width: calc(100% / 3);
    position: relative;
    color: #fff;
    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 1rem;
      left: 0;
      height: 80%;
      width: 2px;
      color: $main-color;
      background-color: $main-color;
    }

    &:first-child::after {
      display: none;
    }
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 7rem;
  color: $main-color;
  display: block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

#click-suggest {
  li {
    width: calc(100% / 3);
  }
  p {
    color: #fff;
    font-size: 2.4rem;
    letter-spacing: 3px;
  }
}

#main-contents {
  margin: 3rem 2rem 0;
  position: relative;
  font-size: 1.6rem;
  i {
    color: #fff;
    position: absolute;
    top: 2rem;
    left: 10%;
  }
  div {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    .content-area {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  // for carrer
  
  table {
    width: 70%;
    td:nth-child(2) {
      text-align: center;
    }
    tr {
      border-bottom: 1px solid #264653;
    }
  }
  aside {
    width: 30%;
    // background-color: #2A9D8F;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
  // end carrer

  // for works
  article {
    text-align: center;
    width: 50%;
    img {
      width: 70%;
    }
  &:last-child {
    justify-content: start;;
  }
  // 
  }
}