.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

// base style CSS
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  color: #2280fa;
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(#264653e3,30%, #152b35e3);
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// end base style CSS

#container {
  width: 100%;
}

header {
  height: 16rem;
  background-color: $main-color;
  position: relative;
}

#what {
  font-family: "Ubuntu", "Lobster", cursive;
  font-size: 5.6rem;
  color: #2a9d8f;
  text-shadow: 1px 3px #ff7777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#who {
  padding-top: 2rem;
  color: #fff;
  font-size: 2.4rem;
  text-shadow: 0 2px #333;
}

.text-wrap {
  display: inline-block;
}

.material-icons {
  font-family: "Material Icons";
  font-size: 5rem;
  color: $main-color;
  display: block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  @include md {
    font-size: 7rem;
  }
}

#main-contents {
  margin: 1rem 2rem 3rem;
  font-size: 1.6rem;
  & > div {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  .content-area {
    padding-bottom: 2rem;
    h2 {
      font-size: 2rem;
      text-align: center;
    }
  }

  .component > h1 {
    text-align: center;
    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: bolder;
    color: #264653;
  }
}

.contents-pagenation ul {
  display: flex;
  justify-content: space-between;
  li {
    // background-color: cadetblue;
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
    padding: 2rem 1.2rem;
    margin-bottom: 1.6rem;
    &:first-child::before {
      padding-right: 6px;
      content: "◀︎";
    }
    &:last-child::after {
      padding-left: 6px;
      content: "▶︎";
    }
  }
}
